body {
  height: 100vh;
  background-image: url("../img/pitsa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -60px top;
}

.checked-ingredients-list{
  height: 140px;
}

.checked-additions-list{
  height: 50px;
}

.submit-button:hover{
  color: #dc3545 !important;
  background-color: #f8f9fa !important;
}